# Ignore node_modules (if using npm or JavaScript frameworks)
node_modules/

# Ignore dependency directories
bower_components/
jspm_packages/

# Ignore build directories
dist/
build/
.tmp/

# Ignore system files
.DS_Store
Thumbs.db
*.log

# Ignore editor/IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore Eclipse project files
.classpath
.project
.settings/

# Ignore Mac system files
._*

# Ignore npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Git files
.git/
